IO_LOC "led[5]" 16;
IO_LOC "led[4]" 15;
IO_LOC "led[3]" 14;
IO_LOC "led[2]" 13;
IO_LOC "led[1]" 11;
IO_LOC "led[0]" 10;
IO_LOC "b[4]" 41;
IO_PORT "b[4]" IO_TYPE=LVCMOS33;
IO_LOC "b[3]" 42;
IO_PORT "b[3]" IO_TYPE=LVCMOS33;
IO_LOC "b[2]" 51;
IO_PORT "b[2]" IO_TYPE=LVCMOS33;
IO_LOC "b[1]" 53;
IO_PORT "b[1]" IO_TYPE=LVCMOS33;
IO_LOC "b[0]" 54;
IO_PORT "b[0]" IO_TYPE=LVCMOS33;
IO_LOC "g[5]" 55;
IO_PORT "g[5]" IO_TYPE=LVCMOS33;
IO_LOC "g[4]" 56;
IO_PORT "g[4]" IO_TYPE=LVCMOS33;
IO_LOC "g[3]" 57;
IO_PORT "g[3]" IO_TYPE=LVCMOS33;
IO_LOC "g[2]" 68;
IO_PORT "g[2]" IO_TYPE=LVCMOS33;
IO_LOC "g[1]" 69;
IO_PORT "g[1]" IO_TYPE=LVCMOS33;
IO_LOC "g[0]" 70;
IO_PORT "g[0]" IO_TYPE=LVCMOS33;
IO_LOC "r[4]" 71;
IO_PORT "r[4]" IO_TYPE=LVCMOS33;
IO_LOC "r[3]" 72;
IO_PORT "r[3]" IO_TYPE=LVCMOS33;
IO_LOC "r[2]" 73;
IO_PORT "r[2]" IO_TYPE=LVCMOS33;
IO_LOC "r[1]" 74;
IO_PORT "r[1]" IO_TYPE=LVCMOS33;
IO_LOC "r[0]" 75;
IO_PORT "r[0]" IO_TYPE=LVCMOS33;
IO_LOC "disp_en" 33;
IO_PORT "disp_en" IO_TYPE=LVCMOS33;
IO_LOC "vsync" 34;
IO_PORT "vsync" IO_TYPE=LVCMOS33;
IO_LOC "hsync" 40;
IO_PORT "hsync" IO_TYPE=LVCMOS33;
IO_LOC "clkd" 35;
IO_PORT "clkd" IO_TYPE=LVCMOS33;
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "reset" 4;
IO_LOC "userbtn" 3;
